body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Footer */

#footer {
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: #151313;
  padding: 20px;
  text-align: center;
  position: relative;

}


.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social-media-links a {
  margin: 0 10px;
}

.social-media-links img {
  width: 40px;
  height: 40px;
}



/* Hero section */
.hero-section {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero-text {
  max-width: 800px;
}



/* Misson statment */
.container {
  justify-content: center;
}



/* Carousel */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background:#f2f2f2;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos{
  overflow:hidden;
  padding:60px 0 ;
  background:white;
  white-space:nowrap;
  position:relative;
}

.logos:before,
.logos:after{
  content:"";
  position:absolute;
  top:0;
  width:250px;
  height:100%;
  z-index:2;
}
.logos:before{
  left:0;
  background:linear-gradient(to left, rgba(255,255,255,0), white);
}
.logos:after{
  right:0;
  background:linear-gradient(to right, rgba(255,255,255,0), white);
}


.logos:hover .logos-slide{
  animation-play-state:paused;
  
  
}
.logos-slide{
  display:inline-block;
  animation: 35s slide infinite linear;
}
.logos-slide img{
  height:50px;
  margin: 0 40px;
}